<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>CARMAGARD</title>
</head>


<body 
style='font-family:-apple-system,Segoe UI;
padding:0;
margin: 0;'>

<div class="main-container"
	style='	height:100%;
	padding: 0 20px;
	background: #F2F9F2;
	padding: 12px;'>
	<div class="main-header" 
	style='	background: #ffa633;
	color:white;
	padding:9px 12px;
	text-align: center;
	justify-content: center;
	flex-direction: column;'>
	<img
		src='https://res.cloudinary.com/drmicer90/image/upload/v1704756062/l2q1rc3gnnmpeu3f6nb4.png'
		style='margin-left: -2px; width: 24px; height: 23px; margin-bottom: 1.2px; border-radius: 50%; background-color: white; padding: 5px;'
	/>
	<h1 style='margin:8px 0; font-size:1.8em'>Your Service Request Has Been Made</h1>
</div>
<div class="main-body" 
style='padding: 12px;
font-size: 15px;'>

	<div>
    <p>Hello <%= user.name %>,</p>
    <p>Your request has been made, you will recieve a responce shortly</p>
	</div>
	<div style="margin-top:20px;font-size: 13px;font-weight: 500;">
		Best regards,<br/>
		Carmagard
	</div>
</div>
	<div class="main-footer" 
	style='
	text-align: center;
	padding:12px;
	background: rgb(82, 81, 81);
	color: white;'>
		<div class="footer-links"><i class="fas fa-envolope"></div>
		<div class="copyright" style='font-size: 11px;'><p>Carmagard © 2023</p></div>
	</div>
</div>

</body>
</html>